/* .container{
	background-image:url("../images/paper_resize.png");
	background-repeat: no-repeat;
}
 */
body{
	background-color: blue;

}

#grocery{
 border: 1px solid #777777;
  background: green;
  color: white;
  font:  15px 'Trebuchet MS';
  padding: 10px;
  margin:10px;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#add{
 border: 1px solid gray;
 background:green;
 color: white;
 padding: 10px;
 margin: 10px;
 cursor: pointer;
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
}


#remove{
 border: 1px solid gray;
 background:green;
 color: white;
 padding: 10px;
 margin: 10px;
 cursor: pointer;
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
}



#items{
	border: 1px solid black;
 	background: gray;
 	opacity: 0.8;
 	color: black;
 	margin: 10px;
 	cursor: pointer;
 	-moz-border-radius: 4px;
 	-webkit-border-radius: 4px;
 }

 #items li{
 	list-style-type: upper-roman;
 }

 label{
 	color: white;
 	font-size: 1.5em;
 	font-family:'Trebuchet MS';
    padding: 10px;
 }
