/* .container{
	background-image:url("../images/paper_resize.png");
	background-repeat: no-repeat;
}
 */
html *
{
   color:  red !important;
   font-family: "Palatino Linotype", "Book Antiqua", "Palatino", "serif" !important;
}

body{
	background-color: gray;

}

#grocery{
 border: 2px solid black;
  background: #F8F8F8 ;
  color: white;
  font:  15px "Palatino Linotype", "Book Antiqua", "Palatino", "serif";
  padding: 10px;
  margin:10px;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#add{
 border: 2px solid black;
 background:#F8F8F8 ;
 font-weight: bold;
 color: white;
 padding: 10px;
 margin: 10px;
 cursor: pointer;
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 box-shadow:10px 10px 50px 20px pink inset;
}


#remove{
 border: 2px solid black;
 background-color:#F8F8F8 ;
 color: white;
 padding: 10px;
 font-weight: bold;
 margin: 10px;
 cursor: pointer;
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 box-shadow:10px 10px 50px 20px pink inset;
}



#items{
	border: 1px solid black;
 	background: gray;
 	opacity: 0.8;
 	color: black;
 	margin: 10px;
 	cursor: pointer;
 	-moz-border-radius: 4px;
 	-webkit-border-radius: 4px;
 }

 #items li{
 	list-style-type: upper-roman;
 	
 	
 }

 label{
 	color :black;
 	font-size: 1.5em;
 	font-family:'Trebuchet MS';
    padding: 10px;
 }

/* hide actual checkbox */
input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url("../images/check_radio_sheet.png") left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url("../images/check_radio_sheet.png") -19px top no-repeat;
}